.dropdown {
  min-width: 100px;
  margin: 40px 0 140px 40px;
}
.dropdownBtn {
  font-size: 16px;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  width: auto;
  padding: 0 30px;
  cursor: pointer;
  &:hover,&:focus{
    background: #f2f2f2;
  }
}

.dropdownItems {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 200px;
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 4px;
}
.dropdownItem {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  &:not(first-child, last-child) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.isVisible {
  visibility: visible;
}
.isHidden {
  visibility: hidden;
}